.title:hover {
    color: green;
    cursor: pointer;
}

.list {
    width: 234px;
    height: 370px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
.list:hover {
    transform: scale(1.2);
} 

.list-img {
    width: 100%;
    height: 100%;
}
.list-info {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
}
.list-info p {
    text-align: center;
    align-items: center;
}
.list-lang {
    height: 23px;
    padding: 0 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 10px;
    background: rgba(0,0,0,.7);

}
.list-lang p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
}